<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/png" href="~/vue.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Picks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Hem</a></li>
                <li class="nav-item"><a asp-controller="Image" asp-action="Index" class="nav-link">Ladda upp bild</a></li>
            </ul>
            <button class="btn btn-primary">Korg</button>
        </div>
    </nav>
    <div class="container body-content" style="margin-top:4em;">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="~/js/site.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
