@model AddImageViewModel

<div class="modal fade" id="CreateCategoryModalTrigger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Skapa ny kategori</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Category" asp-action="Add" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category-name" class="col-form-label">Namn</label>
                        <input type="text" class="form-control" id="category-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                    <button type="button" class="btn btn-primary">Skapa</button>
                </div>
            </form>
        </div>
    </div>
</div>