
@{
    ViewData["Title"] = "Start";
}

<p class="alert-danger">@ViewData["SessionMessage"]</p>

<div class="row" style="margin-top: 4em;">
    <div class="card col-sm-4">
        <img src="https://picsum.photos/220/300/?random" class="card-img-top" id="thisPic" alt="..." />
        <div class="card-body">
            <h4 class="card-title">Bild namn</h4>
            <p class="card-text">Created date</p>
            <a download="#thisPic" class="btn btn-success col-sm-5">Ladda ner</a>
            <a href="#" class="btn btn-primary col-sm-5 col-sm-offset-1">Korg</a>
        </div>
    </div>
</div>
